USE [master]
GO
/****** Object:  Database [My_Restaurant_DB]    Script Date: 03/01/20 14:24:10 ******/
CREATE DATABASE [My_Restaurant_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'My_Restaurant_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\My_Restaurant_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'My_Restaurant_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\My_Restaurant_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [My_Restaurant_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [My_Restaurant_DB]
GO
USE [My_Restaurant_DB]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 03/01/20 14:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Username] [nchar](20) NULL,
	[Password] [nchar](20) NULL,
	[Name] [nvarchar](50) NULL,
	[Position] [nvarchar](50) NULL,
	[Sex] [nvarchar](50) NULL,
	[DOB] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[NumberPhone] [nchar](20) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bill]    Script Date: 03/01/20 14:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[BillId] [nchar](30) NOT NULL,
	[OrdinalNumber] [int] NOT NULL,
	[FoodId] [nchar](50) NULL,
	[Username] [nchar](20) NULL,
	[Quantity] [int] NULL,
	[Cost] [int] NULL,
	[TableId] [nchar](20) NULL,
	[Date] [date] NULL,
	[Status] [nchar](10) NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[BillId] ASC,
	[OrdinalNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 03/01/20 14:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [nvarchar](50) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[CategoryPicture] [image] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Food]    Script Date: 03/01/20 14:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[FoodId] [nvarchar](50) NOT NULL,
	[FoodName] [nvarchar](50) NOT NULL,
	[CategoryId] [nvarchar](50) NOT NULL,
	[FoodPicture] [image] NULL,
	[FoodPrice] [int] NULL,
 CONSTRAINT [PK_Food] PRIMARY KEY CLUSTERED 
(
	[FoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tableList]    Script Date: 03/01/20 14:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tableList](
	[TableName] [nchar](20) NULL,
	[TableId] [nchar](10) NOT NULL,
	[Status] [nchar](10) NULL,
 CONSTRAINT [PK_tableList] PRIMARY KEY CLUSTERED 
(
	[TableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
