USE [master]
GO
/****** Object:  Database [My_Restaurant_DB]    Script Date: 25/12/19 16:31:57 ******/
CREATE DATABASE [My_Restaurant_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'My_Restaurant_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\My_Restaurant_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'My_Restaurant_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\My_Restaurant_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [My_Restaurant_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [My_Restaurant_DB]
GO
USE [My_Restaurant_DB]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 25/12/19 16:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Username] [nchar](20) NULL,
	[Password] [nchar](20) NULL,
	[Name] [nvarchar](50) NULL,
	[Position] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 25/12/19 16:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [nvarchar](50) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[CategoryPicture] [image] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Food]    Script Date: 25/12/19 16:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[FoodId] [nvarchar](50) NOT NULL,
	[FoodName] [nvarchar](50) NOT NULL,
	[CategoryId] [nvarchar](50) NOT NULL,
	[FoodPicture] [image] NULL,
 CONSTRAINT [PK_Food] PRIMARY KEY CLUSTERED 
(
	[FoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tableList]    Script Date: 25/12/19 16:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tableList](
	[tableName] [nchar](20) NULL,
	[tableID] [nchar](10) NOT NULL,
 CONSTRAINT [PK_tableList] PRIMARY KEY CLUSTERED 
(
	[tableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Account] ([Username], [Password], [Name], [Position]) VALUES (N'hung                ', N'123                 ', N'Phước Hưng', N'Manager')
INSERT [dbo].[Account] ([Username], [Password], [Name], [Position]) VALUES (N'ngochai1591         ', N'asdasd123           ', N'Phạm Ngọc Hải', N'Server')
INSERT [dbo].[Account] ([Username], [Password], [Name], [Position]) VALUES (N'hung8               ', N'66                  ', N'hung', N'user')
INSERT [dbo].[tableList] ([tableName], [tableID]) VALUES (N'Table 1             ', N'T01       ')
INSERT [dbo].[tableList] ([tableName], [tableID]) VALUES (N'Table 2             ', N'T02       ')
INSERT [dbo].[tableList] ([tableName], [tableID]) VALUES (N'Table 3             ', N'T03       ')
USE [master]
GO
